<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmysql.dao.ReconWarningInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.springbootmysql.entity.ReconWarningInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trade_mobiles" jdbcType="VARCHAR" property="tradeMobiles" />
    <result column="interest_mobiles" jdbcType="VARCHAR" property="interestMobiles" />
    <result column="lot_mobiles" jdbcType="VARCHAR" property="lotMobiles" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_status" jdbcType="TINYINT" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, trade_mobiles, interest_mobiles, lot_mobiles, remark, finish_time, create_time, 
    update_time, delete_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_recon_warning_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_recon_warning_info
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_recon_warning_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.springbootmysql.entity.ReconWarningInfo">
    insert into t_recon_warning_info (id, trade_mobiles, interest_mobiles, 
      lot_mobiles, remark, finish_time, 
      create_time, update_time, delete_status
      )
    values (#{id,jdbcType=BIGINT}, #{tradeMobiles,jdbcType=VARCHAR}, #{interestMobiles,jdbcType=VARCHAR}, 
      #{lotMobiles,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootmysql.entity.ReconWarningInfo">
    insert into t_recon_warning_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tradeMobiles != null">
        trade_mobiles,
      </if>
      <if test="interestMobiles != null">
        interest_mobiles,
      </if>
      <if test="lotMobiles != null">
        lot_mobiles,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tradeMobiles != null">
        #{tradeMobiles,jdbcType=VARCHAR},
      </if>
      <if test="interestMobiles != null">
        #{interestMobiles,jdbcType=VARCHAR},
      </if>
      <if test="lotMobiles != null">
        #{lotMobiles,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootmysql.entity.ReconWarningInfo">
    update t_recon_warning_info
    <set>
      <if test="tradeMobiles != null">
        trade_mobiles = #{tradeMobiles,jdbcType=VARCHAR},
      </if>
      <if test="interestMobiles != null">
        interest_mobiles = #{interestMobiles,jdbcType=VARCHAR},
      </if>
      <if test="lotMobiles != null">
        lot_mobiles = #{lotMobiles,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootmysql.entity.ReconWarningInfo">
    update t_recon_warning_info
    set trade_mobiles = #{tradeMobiles,jdbcType=VARCHAR},
      interest_mobiles = #{interestMobiles,jdbcType=VARCHAR},
      lot_mobiles = #{lotMobiles,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>